.header{
font-size:20px;
margin:60px auto;

}
.header span{
display:block;
}
.form{
border:5px solid #6600ff;
padding:30px 20px;
}
.form-header{
font-size:20px;
font-weight:900;
margin-bottom:20px;
}
.form-btn{
margin:10px auto;
background-color:#6600ff;
}
.form input{
margin-bottom:12px;
}
.section{
padding:30px;
}
.section-header{
font-size:20px;
font-weight:900;
}
.feature{
margin-top:50px;
}
.feature p{
margin:10px;
}